.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--textGreen);
  font-size: 1.4rem;
  font-style: oblique;
}

.head button {
  background-color: var(--buttonGreen);
  border: none;
}

.container {
  padding: 2%;
}

.no-content {
  font-weight: 600;
}

:host::ng-deep .custom-dialog .p-dialog {
  width: 500px !important;
}





