<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="field">
    <label for="name">Name</label>
    <input type="text" formControlName="name"/>
  </div>
  <div class="field">
    <label for="email">Email</label>
    <input type="email" formControlName="email"/>
  </div>
  <div class="field" formArrayName="favColor">
    <label for="fav color">Favourite color</label>
    <br>
    <label for="fav color1">Red</label>
    <input type="checkbox" name="red" formControlName="0"/>
    <br>
    <label for="fav color2">Blue</label>
    <input type="checkbox" name="blue" formControlName="1"/>
    <br>
    <label for="fav color3">Green</label>
    <input type="checkbox" name="green" formControlName="2"/>
  </div>
  <div class="btn">
    <button type="submit">Submit</button>
  </div>
</form>
