<div class="body">
  <div class="form-div">
    <h2 class="heading">LocalEyes</h2>
    <form class="form" (ngSubmit)="submit()" [formGroup]="form">
        <div class="p-field">
          <p-floatLabel>
            <input id="username" type="text" pInputText formControlName="username"/>
            <label for="username">Username*</label>
          </p-floatLabel>
        </div>
  
  
        <div class="p-field">
          <p-floatLabel>
            <p-password 
              id="password"
              formControlName="newPassword"
              [toggleMask]="true"
              [feedback]="false"
              [style]="{ width: '100%' }"
              class="password"
            />
            <label for="password">New Password*</label>
          </p-floatLabel>
        </div>

        <div class="p-field">
          <p-floatLabel>
            <input id="answer" type="text" pInputText formControlName="securityAnswer"/>
            <label for="answer">Your Nickname + Favourite food</label>
          </p-floatLabel>
        </div>

        <div class="button-link">
          <button pButton type="submit" label="Submit" [disabled]="form.invalid" ></button>
        </div>
    </form>
    </div>
  </div>
  