<div class="body">
  <div class="form-div">
    <h2 class="heading">LocalEyes</h2>
    <form class="form" (ngSubmit)="submit()" [formGroup]="form">
      <div class="p-field">
        <p-floatLabel>
          <input id="email" type="text" pInputText formControlName="email"/>
          <label for="email">Email</label>
        </p-floatLabel>
      </div>
        @if(otpSent) {
          <div class="p-field">
            <p-floatLabel>
              <p-password 
                id="newPassword"
                formControlName="newPassword"
                [toggleMask]="true"
                [feedback]="false"
                [style]="{ width: '100%' }"
                class="password"
              />
              <label for="newPassword">New Password</label>
            </p-floatLabel>
          </div>
  
          <div class="p-field">
           <label>OTP</label>
            <p-inputOtp formControlName="otp" [integerOnly]="true" [length]="6"/>
          </div>
          <div>
            <span class="otp-resend">Resend OTP</span>
          </div>
          <div class="button-link">
            <button pButton type="submit" label="Submit" [disabled]="form.invalid" ></button>
          </div>
        }@else {
          <div class="button-link">
            <button pButton type="submit" label="Send OTP" [disabled]="form.controls['email'].invalid" ></button>
          </div>
        }
    </form>
    </div>
  </div>
  