.header img {
  width: 5rem;
}

.header {
  margin: 1%;
}

.heading h1 {
  color: rgb(57, 107, 57);
  font-size: 3rem;
  margin: 0;
}

.heading {
  padding-left: 2%;
  padding-right: 2%;
}

.notifications {
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.no-content {
  font-weight: 600;
}
