.loader {
  z-index: 999;
  position: fixed;
  top: 45%;
  left: 45%;
  border-radius: 50%;
}

.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(249, 253, 249, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}