button {
  background-color: rgb(95, 129, 95);
  border-color: rgb(95, 129, 95);
  cursor: pointer;
  border-radius: 10px;
  margin-left: 1rem;
}

.profile {
  display: flex;
  flex-direction: column;
  margin: 3%;
  border: 2px 
}

.profile img {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 3px solid rgb(11, 11, 11);
}

.profile p {
  font-size: 1.2rem;
  font-weight: bold;
}

.user-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.details {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.details-row {
  display: flex;
  flex: 2;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

.user-image {
  display: flex;
  gap: 10px;
}

.content {
  background: var(--gradientGreen);
  width:400px;
  padding-block: 0.5px;
  padding-inline: 10px;
  border-radius: 30px;
  margin-bottom: 10px;
}

.field {
  margin-block: 0;
  margin-right: 20px;
}

.heading {
  text-align: center;
  font-style: oblique;
  color: var(--textGreen);
}

@media (max-width: 1000px) {
  .content {
    width: 50%;
  }
}
