<app-header/>
<div class="profile">
  <div class="user-header">
    <div class="user-image">
      <img src="../../../assets/avatar.png" alt="avatar">
      <div>
        <p>{{ userService.user()?.username }}</p>
      </div>
    </div>
    <div>
      <button
        pButton
        type="submit"
        label="Edit"
        [routerLink]="['/profile/edit']"
      ></button>
      <button
        pButton
        type="submit"
        label="Deactivate"
        (click)="deactivate()"
      ></button>
    </div>
  </div>
  <div class="details">
    <div class="field">
      <label>Username</label>
      <div class="content">
        <p>{{userService.user()?.username}}</p>
      </div>
    </div>
    <div class="field">
      <label>Tag</label>
      <div class="content">
        <p>{{userService.user()?.tag}}</p>
      </div>
    </div>
    <div class="field">
      <label>City</label>
      <div class="content">
        <p>{{userService.user()?.city}}</p>
      </div>
    </div>
    <div class="field">
      <label>Dwelling Age</label>
      <div class="content">
        <p>{{userService.user()?.living_since}}</p>
      </div>
    </div>
  </div>
</div>
<div class="heading">
  <h1>
    My Posts
  </h1>
</div>
<app-posts [view]="'profile'" />
@if (postService.isPostClicked()) {
  <app-open-post/>
}
