<app-header/>
<div class="profile">
  <div class="user-header">
    <div class="user-image">
      <img src="../../../assets/avatar.png" alt="avatar">
      <div>
        <p>User Name</p>
      </div>
    </div>
    <div>
      <button
        pButton
        type="submit"
        label="Edit"
      ></button>
      <button
        pButton
        type="submit"
        label="Deactivate"
      ></button>
    </div>
  </div>
  <div class="details">
    <div class="field">
      <label>Username</label>
      <div class="content">
        <p>name</p>
      </div>
    </div>
    <div class="field">
      <label>Tag</label>
      <div class="content">
        <p>tag</p>
      </div>
    </div>
    <div class="field">
      <label>City</label>
      <div class="content">
        <p>Delhi</p>
      </div>
    </div>
    <div class="field">
      <label>Dwelling Age</label>
      <div class="content">
        <p>3</p>
      </div>
    </div>
  </div>
</div>
