<div class="post">
  <div class="post-head">
    <div id="post-head">
      <div>
        <img 
          src="../../../assets/avatar.png"
          alt="avatar" class="avatar"
        />
      </div>
      <div class="margin-left">
        <span>{{postMaker.username}}</span>
      </div>
    </div>
    <div *appEditPost="postService.isDisplayingProfile()">
      <p-menu #menu [model]="items" [popup]="true"></p-menu>
        <p-button
          class="menu-btn"
          (onClick)="menu.toggle($event)"
          icon="pi pi-ellipsis-v"
        ></p-button>
    </div>
    @if (postService.isDisplayingAdmin()) {
      <div>
        <p-button
          class="menu-btn"
          (onClick)="deletePost()"
          icon="pi pi-trash"
          severity="danger"
        ></p-button>
      </div>
    }
  </div>
  @if (post().type === 'TRAVEL'){
    <div class="img-div" (click)="openPost()">
      <img
        src="../../../assets/travel1.avif"
        alt="post-image" class="post-image"
      />
    </div>
  }
  @if (post().type === 'FOOD'){
    <div class="img-div" (click)="openPost()">
      <img
        src="../../../assets/food1.webp"
        alt="post-image" class="post-image"
      />
    </div>
  }
  @if (post().type === 'SHOPPING'){
    <div class="img-div" (click)="openPost()">
      <img 
        src="../../../assets/shopping4.avif"
        alt="post-image" class="post-image"
      />
    </div>
  }
  <div>
    <p>{{post().title}}</p>
  </div>
  <div class="post-foot">
    <div class="likes">
      @if (isHighlight()) {
        <i 
          (click)="toggleLike()"
          class="pi pi-heart-fill"
          style="
            font-size: 1rem;
            color: rgb(220, 63, 63);
            margin-left: 1%;
            margin-right: 10%;"
        ></i>
      }@else {
        <i 
          (click)="toggleLike()"
          class="pi pi-heart"
          style="
            font-size: 1rem;
            color: rgb(11, 11, 11);
            margin-left: 1%;
            margin-right: 10%;"
        ></i>
      }
      <span>{{post().likes}}</span>
</div>
