<app-header/>
<div class="middle-header">
  <div class="toggle">
    <h1>Posts</h1>
    <!-- <div class="card flex justify-content-center">
      <p-selectButton 
          [options]="options" 
          [(ngModel)]="service.postOption"  
      />
    </div> -->
  </div>
  <div class="card flex justify-content-center">
    <form [formGroup]="form">
        <p-dropdown 
            formControlName="selectedFilter"
            [options]="filters"
            [showClear]="true"
            placeholder="Select a Filter" 
            />
    </form>
  </div>
</div>
<div class="posts">
  @for (post of service.posts(); track $index) {
    <app-post
      class="post"
      [post]="post"
      />
  }
</div>
@if (service.isPostClicked()) {
  <app-open-post/>
}

