.middle-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 2%;
  padding-right: 2%;
}

h1 {
  color: rgb(57, 107, 57);
  font-size: 3rem;
}

.toggle {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}


.posts {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2%;
}

.post {
  margin: 2%;
}

::ng-deep .toggle-btn {
  border: none !important;
}

::ng-deep .p-selectbutton .p-highlight {
  background-color: rgb(57, 107, 57) !important;
}

@media(max-width: 1200px) {
  .posts {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media(max-width: 800px) {
  .posts {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(max-width: 500px) {
  .posts {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0.2%;
    justify-items: center;
    justify-content: center;
    gap: 0.5%;
  }
}