<div class="header">
  <img
    src="../../../assets/logo.png"
    alt="logo"
    class="logo"
    [routerLink]="'/home'"
  >
  <div class="actions">
    @if (authService.role == 'admin') {
      <div class="right-margin">
        <p-button
          label="Manage Posts"
          [text]="true"
          [plain]="true"
          [rounded]="true"
          (onClick)="managePosts()"
        />
      </div>
      <div class="right-margin">
        <p-button 
          [label]="'Manage Users'"
          [text]="true"
          [plain]="true"
          [rounded]="true"
          class="button"
          (onClick)="manageUsers()"
        />
      </div>
    }@else {
      <div class="right-margin">
        <p-button
          label="Post"
          icon="pi pi-plus"
          [text]="true"
          [routerLink]="'/home/new-post'"
        />
      </div>
      <div class="right-margin">
        <p-button 
          icon="pi pi-bell" 
          [badge]="badgeNumber()"
          badgeClass="p-badge-danger"
          [text]="true"
          class="button"
          [routerLink]="['/notifications']"
        />
      </div>
    }
    <div class="right-margin logout">
      <p-button
        label="Logout"
        icon="pi pi-sign-out"
        (onClick)="logout()"
      />
    </div>
    <div>
      <img 
        src="../../../assets/avatar.png"
        alt="avatar"
        class="profile"
        [routerLink]="['/profile']"
      >
    </div>
  </div>
</div>
