.profile {
  width: 100%;
  cursor: pointer;
}

.logo {
  width: 100px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
  /* border-radius: 60px; */
  margin-left: 5px;
  margin-right: 5px;
  background-color: rgba(85, 123, 85, 0.311);
  /* background-color: rgba(82, 133, 94, 0.46); */
  box-shadow: rgba(0, 0, 0, 0.796) 2px 2px 5px;
  /* background-image: url('../../../assets/header4.jpg'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.actions {
  display: flex;
  align-items: center;
}

.right-margin {
  margin-right: 4%;
}

:host ::ng-deep .p-button {
  color: black;
  background-color: none;
  transition: background-color 0.3s ease;
  border: none;
}

:host ::ng-deep .logout .p-button {
  background-color: transparent;
}

:host ::ng-deep .p-button:hover {
 background-color: transparent;
}

:host ::ng-deep .logout p-button :hover{
  color: red;
  border: none;
}

:host ::ng-deep .button .p-badge {
  /* Custom badge styles */
  background-color: #c20000;
  position: relative;
  right:2px;
  bottom: 8px;
  z-index: 997;
}





