.profile {
  width: 100%;
  cursor: pointer;
}

.logo {
  width: 100px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  margin: 0;
  /* background-image: url('../../../assets/header4.jpg'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.actions {
  display: flex;
  align-items: center;
}

.right-margin {
  margin-right: 4%;
}

:host ::ng-deep .p-button {
  color: black;
  background-color: none;
  transition: background-color 0.3s ease;
  border: none;
}

:host ::ng-deep .logout .p-button {
  background-color: transparent;
}

:host ::ng-deep .p-button:hover {
 background-color: transparent;
}

:host ::ng-deep .logout p-button :hover{
  color: red;
  border: none;
}

:host ::ng-deep .button .p-badge {
  /* Custom badge styles */
  background-color: #4f793b;
  position: relative;
  right:2px;
  bottom: 8px;
  z-index: 997;
}





