<div class="field">
  <div class="question">
    <div class="text">
      <p>{{question().question_text}}</p>
    </div>
    <div class="btn">
      <button 
        pButton
        label="Add Answer"
        (click)="showAnswerForm()"
        [text]="true"
        icon="pi pi-pencil"
        iconPos="right"
        class="button"
      ></button>
      <p-dialog
        header="Answer Form"
        [(visible)]="service.isAddAnswer"
        [modal]="true"
        class="custom-dialog"
      >
        <app-answer-form/>
      </p-dialog>
      <button 
        pButton
        icon="pi pi-trash"
        iconPos="right"
        class="trash-btn"
      ></button>
    </div>
  </div>
  <div class="answers">
    <button 
      pButton
      label="View Answer"
      [text]="true"
      icon="pi pi-eye"
      iconPos="left"
    ></button>
  </div>
</div>
