<div class="field">
  <div class="question">
    <div class="text">
      <p>{{question().text}}</p>
    </div>

    @if(authService.role == 'admin') {
      <div class="btn">
        <button
          pButton
          (click)="showAnswerForm()"
          [text]="true"
          icon="pi pi-pencil"
          iconPos="right"
          pTooltip="Add Answer"
          [tooltipStyleClass]="'custom-tooltip'"
          tooltipEvent="hover"
          tooltipPosition="bottom"
          class="button"
        ></button>
        <button
          pButton
          class="eye-btn"
          [text]="true"
          pTooltip="View Answers"
          tooltipEvent="hover"
          tooltipPosition="bottom"
          icon="pi pi-eye"
          iconPos="left"
          (click)="showAnswers()"
        ></button>
        <button
          pButton
          icon="pi pi-trash"
          iconPos="right"
          class="trash-btn"
          pTooltip="Delete Question"
          tooltipEvent="hover"
          tooltipPosition="bottom"
          (click)="deleteByAdmin()"
          severity="danger"
        ></button>
      </div>
    }

    @else{
      <div class="btn">
        <button
          pButton
          (click)="showAnswerForm()"
          [text]="true"
          icon="pi pi-pencil"
          iconPos="right"
          pTooltip="Add Answer"
          [tooltipStyleClass]="'custom-tooltip'"
          tooltipEvent="hover"
          tooltipPosition="bottom"
          class="button"
        ></button>
        <button
          pButton
          class="eye-btn"
          [text]="true"
          pTooltip="View Answers"
          tooltipEvent="hover"
          tooltipPosition="bottom"
          icon="pi pi-eye"
          iconPos="left"
          (click)="showAnswers()"
        ></button>
        @if(userService.user()?.id == question().q_user_id) {
          <button
          pButton
          icon="pi pi-trash"
          iconPos="right"
          class="trash-btn"
          pTooltip="Delete Question"
          tooltipEvent="hover"
          tooltipPosition="bottom"
          (click)="delete()"
          severity="danger"
        ></button>
        }
      </div>
    }
  </div>
  <p-dialog
    header="Answer Form"
    [(visible)]="service.isAddAnswer"
    [modal]="true"
    class="custom-dialog"
  >
  <app-answer-form/>
  </p-dialog>
</div>

